<section class="section comments">
  <div class="container">
    <h1>Comments</h1>
    <% if @user %>
     <%= render 'user_comments' %>
     <% else %>
     <%= render 'comment' %>
        <div class="comment-form">
            <h3 class="subtitle is-3">Leave a comment</h3>
             <%= render 'form', locals: { comment: @comment } %>
        </div>
        <% end %>
    </div>
    <%= link_to 'Back', url_for(:back) %>
</section>